<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <title><%= title %></title>
    <h1><%= title %></h1>
    <br>
    <br>
    <nav>
        <a href="/pieces">&nbsp;<button class="hb">HOME</button>&nbsp;</a>
        <% if (user) { %>
          <a href="/pieces/new"><button class="npb">NEW PIECE</button></a>
          <a href="/logout"><button class="lob">LOG OUT</button></a>
        <% } else { %>
          <a href="/auth/google" class="login">&nbsp;<button>LOG IN</button>&nbsp;</a>
        <% } %>
    </nav>
    