<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <title><%= title %></title>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <nav>
        <a href="/pieces">HOME</a>
        <% if (user) { %>
            <a href="/pieces/show">SHOW</a>
          <a href="/pieces/new">NEW PIECE</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src=""></a>
        <% } %>
    </nav>
    