<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Dela+Gothic+One&family=Gloria+Hallelujah&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div>
    <title class="mainTitle">
      <%= title %>
    </title>
    <h2>No Tickets? No Problem!</h2>
  </div>
  <div class="welcomeFace">
    <a href="/pieces"><img src="https://i.imgur.com/cch2b8Q.jpg" alt="oopsie" height="350vmin"></a>
    <br><a href="/pieces" class="come-in">Explore The City</a>
  </div>

  <%- include('./partials/footer') %>