body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(243, 243, 233);
}

a {
  /* color: #00B7FF; */
  color: #108127;
}
.mainTitle{
  display: flex;
  justify-content: center ;
  color: rgb(56, 54, 54);
  font-size: 14vmin;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: -6.5vmin;
  margin-bottom: -2.5vmin;
}
.welcomeFace {
  display: flex;
  justify-content: center ;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center ;
  color: rgb(56, 54, 54);
  font-size: 12vmin;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: -6.5vmin;
  margin-bottom: -2.5vmin;
}

body > nav {
  /* grid-area: nav; */
  display: flex;
  justify-content: space-evenly;
  /* align-content: space-between; */
  /* padding: 0 20px 0 30px; */
}