body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(240, 240, 232);
}

.mainTitle {
  display: flex;
  justify-content: center;
  color: rgb(52, 132, 218);
  font-size: 14vmin;
  font-family: 'Chelsea Market', cursive;
  margin-top: -6.5vmin;
  margin-bottom: -2.5vmin;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  color: rgb(220, 172, 42);
  font-size: 3vmin;
  font-family: 'Chelsea Market', cursive;
}

.welcomeFace {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3vmin;
}

h1 {
  display: flex;
  justify-content: center;
  color: rgb(52, 132, 218);
  font-size: 12vmin;
  font-family: 'Chelsea Market', cursive;
  margin-top: -6.5vmin;
  margin-bottom: -2.5vmin;
  text-align: center;
}

.nav {
  grid-area: nav;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 45px;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

.show-page {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8vmin;
}

.show-title {
  display: flex;
  justify-content: center;
  color: rgb(56, 54, 54);
  color: rgb(52, 132, 218);
  font-size: 10vmin;
  font-family: 'Chelsea Market', cursive;
}

h3 {
  display: flex;
  justify-content: center;
  color: rgb(56, 54, 54);
  font-size: 3vmin;
  font-family: 'Chelsea Market', cursive;
  margin-top: -2vmin;
  margin-bottom: -2.5vmin;
}

.main-desc {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px 90px 0 90px;
}

.m-d {
  font-family: 'Radio Canada', sans-serif;
  font-size: medium;
}

.piece-details {
  font-family: 'Radio Canada', sans-serif;
  font-size: medium;
}

.piece-details {
  display: flex;
  width: 400px;
  align-items: center;
  flex-direction: column;
  margin-top: 2vmin;
  text-align: center;
}

.pieces-page {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7vmin;
}

.add-form,
.ed-form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7vmin;
}

img {
  border-radius: 3%;
  border: 2px solid rgb(56, 54, 54);
}

table {
  margin-left: 16vmin;
}

.comm-sect {
  display: flex;
  text-align: center;
  justify-content: center;
}

.comm-box {
  border: 2px solid rgb(56, 54, 54);
  border-radius: 5px;
}

.comm-box:focus {
  outline: none !important;
  border: 2px solid rgb(220, 172, 42);
  border-radius: 5px;
}

textarea:focus {
  outline: none !important;
  border: 2px solid rgb(220, 172, 42);
  border-radius: 5px;
}

input:focus {
  outline: none !important;
  border: 2px solid rgb(220, 172, 42);
  border-radius: 5px;
}

.user-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ava {
  border-radius: 50%;
  border: 2px solid rgb(56, 54, 54);
  height: 50px;
  justify-content: center;
  align-items: center;
}

.tdcomm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 20px;
  width: 350px;
  overflow: auto;
}

#hov:hover {
  color: rgb(220, 172, 42);
}

.come-in {
  color: rgb(56, 54, 54);
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: -1vmin;
}

.come-in:hover {
  color: rgb(52, 132, 218);
}

.hb {
  color: rgb(56, 54, 54);
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
}

.lib {
  color: rgb(56, 54, 54);
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
}

.npb {
  color: rgb(56, 54, 54);
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
}

.lob {
  color: rgb(56, 54, 54);
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
}

.del-butt {
  background-color: white;
  border-radius: 15%;
  height: 5vmin;
  width: 5vmin;
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
}

.del-butt:hover {
  background-color: rgb(220, 172, 42);
  color: #ffffff;
}

.ed-butt {
  background-color: rgb(52, 132, 218);
  color: white;
  border-radius: 15%;
  height: 6vmin;
  width: 18vmin;
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
}

.ed-butt:hover {
  background-color: white;
  color: black;
}

.add-comm {
  background-color: rgb(52, 132, 218);
  color: white;
  border-radius: 15%;
  height: 6vmin;
  width: 28vmin;
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
}

.add-comm:hover {
  background-color: white;
  color: black;
}

.add-up-butts {
  background-color: rgb(52, 132, 218);
  color: white;
  border-radius: 15%;
  height: 6vmin;
  width: 25vmin;
  font-family: 'Chelsea Market', cursive;
  font-size: 3vmin;
  cursor: pointer;
  margin-left: 9vmin;
  margin-top: 1vmin;
}

.add-up-butts:hover {
  background-color: white;
  color: black;
}