body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(243, 243, 233);
}

a {
  /* color: #00B7FF; */
  color: #108127;
}
.mainTitle{
  display: flex;
  justify-content: center ;
  color: rgb(56, 54, 54);
  font-size: 14vmin;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: -6.5vmin;
  margin-bottom: -2.5vmin;
}

.welcomeFace {
  display: flex;
  justify-content: center ;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

h1 {
  display: flex;
  justify-content: center ;
  color: rgb(56, 54, 54);
  font-size: 12vmin;
  font-family: 'Gloria Hallelujah', cursive;
  margin-top: -6.5vmin;
  margin-bottom: -2.5vmin;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  /* align-items: center;
  padding: 0 20px 0 30px; */
}

.show-page {
  display: flex;
  justify-content: center ;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 8vmin;
}

.piece-details {
  display: flex;
  width: 400px;
  align-items: center;
  flex-direction: column;
  margin-top: 2vmin;
  text-align: center;
}

.pieces-page {
  display: flex;
  justify-content: center ;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 7vmin;
}

img {
  border-radius: 5%;
  border: 3px solid rgb(56, 54, 54);
}

.comm-sect {
  display: flex;
  text-align: center;
}

.comm-box {
  border:2px solid rgb(56, 54, 54);
  border-radius: 5px;
}

.comm-box:focus {
  outline: none !important;
  border:2px solid #108127;
  border-radius: 5px;
}

.user-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ava {
  border-radius: 50%;
  border: 2px solid rgb(56, 54, 54);
  height: 50px;
}