<%- include('../partials/header') %>

<p>indecs</p>
<table id="pieces">
    <thead>
      <tr>
        <th>Artist</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% pieces.forEach(function(p) { %>
        <tr>
          <td><%= p.artist %></td>
          <th></th>
        </tr>
        <% }); %>
      </tbody>
    </table>
    
<%- include('../partials/footer') %>