<%- include('../partials/header') %>
<br>
<form id="form1" action="/pieces" method="POST">
    <label>Title:</label>
    <input type="text" name="title"><br>
    <label>Link To Image:</label>
    <input type="text" required name="image"><br>
    <label>Artist:</label>
    <input type="text" name="artist"><br>
    <label>Location:</label>
    <input type="text" name="location"><br>
    <label>Year:</label>
    <input type="text" name="year"><br>
    <label>Media:</label>
    <input type="text" name="media"><br>
    <label>Description:</label>
    <input type="text" name="description"><br>
    <label>Currently On Display:</label>
    <input type="checkbox" name="currentlyAvailable" checked><br>
    <br>
    <input type="submit" value="Add Piece">
  </form>

<%- include('../partials/footer') %>